<!DOCTYPE html>
<html ng-app="dropDemo">
  <head>
    <title>AngularDrop</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-controller="DemoCtrl">
    <header>
      <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" title="AngularDrop">AngularDrop</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-list">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        
        <div id="navbar-list" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://caitp.github.io/angular-drop/docs" title="API Documentation" class="icon-2x icon-gears">
              <span class="text">API Documentation</span>
            </a></li>
            <li><a href="https://github.com/caitp/angular-drop" title="Code on Github" class="icon-2x icon-github">
              <span class="text">Code on Github</span>
            </a></li>
            <li><a href="https://twitter.com/share" title="Share on Twitter" class="icon-2x icon-twitter" data-lang="en">
              <span class="text">Share on Twitter</span>
            </a></li>
          </ul>
          <iframe class="nav-ghbtn" src="http://ghbtns.com/github-btn.html?user=caitp&repo=angular-drop&type=watch&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="50"></iframe>
          <iframe class="nav-ghbtn" src="http://ghbtns.com/github-btn.html?user=caitp&repo=angular-drop&type=fork&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="50"></iframe>
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1>AngularDrop</h1>

          <p>Drag & Drop functionality in <strong><a href="http://angularjs.org">AngularJS</a></strong>, no jQuery required</p>
          <p>Simple and easy to use tools for building drag & drop directives, or integrating drag & drop functionality in your own directives, with a very simple and easy to use API.</p>
          <p class="btn-group">
            <a class="icon icon-github btn btn-default" href="https://github.com/caitp/angular-drop" title="Code on Github">
              Code on Github</a>
            <a class="icon icon-download-alt icon-white btn btn-primary" href="https://github.com/caitp/angular-drop/tree/gh-pages"
               title="Download 0.0.1-snapshot">
              Download <small>(0.0.1-snapshot)</small></a>
            <a class="icon icon-gears btn btn-default" href="http://caitp.github.io/angular-drop/docs" title="API Documentation"> API Documentation</a>
          </p>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="page-header">
        <h3>Simple Drag &amp; Drop</h3>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading dropdemo" droppable drop-allowed="'the-dragger'" ng-controller="DropCtrl">
          <div class="drag the-dragger" draggable drag-keep-size="true">
            <h2>Drag me <small>anywhere you want me to go</small></h2>
            <p>If dropped into one of these three areas, I will snap into place. Otherwise, I'll just hang around.</p>
          </div>
          <h2 ng-if="!hasElement()" class="dropzone">[ Drop Zone ]</h2>
        </div>
        <div class="panel-body dropdemo" droppable drop-allowed="'the-dragger'" ng-controller="DropCtrl">
          <h2 ng-if="!hasElement()" class="dropzone">[ Drop Zone ]</h2>
        </div>
        <div class="panel-footer dropdemo" droppable ng-controller="DropCtrl">
          <h2 ng-if="!hasElement()" class="dropzone">[ Drop Zone ]</h2>
        </div>
        <div class="panel-footer dropdemo" droppable drop-allowed="'not-the-dragger'" ng-controller="DropCtrl">
          <h2 ng-if="!hasElement()" class="dropzone">[ Invalid Drop Zone ]</h2>
        </div>
      </div>
      <div class="page-header">
        <h3>Constrained Dragging Within Parent</h3>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Drag the cursor around the world</h3>
        </div>
        <div class="panel-body center">
          <div class="map-body">
            <img draggable drag-within="parent" src="img/appbar.location.round.png" alt="Drag me around" style="position:relative; top:280px; left:35px;" />
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="angular-drop.js"></script>
    <script src="js/app.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44389518-1', 'caitp.github.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>