body {
  padding-top: 50px;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s;
  padding-bottom: 10em;
}

.jumbotron {
  font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
.jumbotron .btn, .pagination-centered .btn {
    /*float: none;*/
    font-weight: normal;
}
.jumbotron p {
    margin: 1em 0;
}
.bs-docs-social {
    margin-top: 1em;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(245,245,245,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(221,221,221,0.3);
}

.nav-ghbtn {
  padding-top: 16px;
}

a>.text {
  display: none;
}

@media (max-width: 767px) {
  .in a>.text, .collapsing a>.text {
    display: inline;
    font-weight: light;
    font-size: 16px;
  }
}

.drag {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -moz-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -ms-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -o-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  background-color: #fff;
  padding: .5em;
}
.drag > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel > .dropdemo {
  min-height: 100px;
}

.dropzone {
  text-align: center;
  color: #eee;
}

.map-body {
  height: 435px;
  width: 580px;
  background: url(../img/map.jpg) no-repeat left top;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -moz-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -ms-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  -o-box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
  box-shadow: 0px 10px 16px 4px rgba(128, 128, 128, .5);
}

[draggable]:hover {
  cursor: move;
}